<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>后台管理系统</title>
		<link href="images/index.css" type="text/css" rel="stylesheet"/>
		<script src="images/jquery.js"></script>

		<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.all.min.js"> </script>
		<script type="text/javascript" charset="utf-8" src="ueditor/lang/zh-cn/zh-cn.js"> </script>


		<!--引入jq-->
		<script src="images/jquery.js"></script>
		<!--引入模板-->
		<script src="js/template.js"></script>

		<!--判断用户是否已经登录-->
		<script src="checklogin.php" type="text/javascript" charset="utf-8"></script>

    <style type="text/css">
        div{
            width:100%;
        }
		.enclosure span{
			margin-left: 5%;
		}
		.enclosure span input{
			margin-left: 2%;
			width: 80px;
		}
    </style>

	</head>
	<body>

		<script src="js/nva.js"></script>

			<div class="mainbox">




				<div class="note">
					<h4>发表文章</h4>
					<form action="" method="post">
						<table class="news_form">
							<tr>
								<td>文章标题：</td>
								<td><input type="text" name="title" id="title" class="inbox"/></td>
							</tr>
							<tr>
								<td>文章分类：</td>
								<td>
									<select class="inbox" id="classify">
										<option>css</option>
										<option>html</option>
										<option selected>javascript</option>
										<option>Node</option>
										<option>Mongodb</option>
										<option>开发工具</option>
										<option>开发环境</option>
										<option>其他</option>
									</select>
								</td>
							</tr>
							<!--锚点列表-->
							<tr v-for="(itme,index) in arr" class="anchorbox">
								<td>文章锚点</td>
								<td class="titletd" >
									标题：<input v-model="itme.anchortitle" type="text" name="title" class="anchortitle"/>
									<input @click="ondel" :data-id="itme.anchor" class="del" type="button" value="删除标题">
								</td>
							</tr>
							<tr>
								<td>锚点操作</td>
								<td>
									<input id="anchorbnt2" type="button" value="添加标题">
								</td>
							</tr>
							<tr>
								<td>附件</td>
								<td class="enclosure">
									<span v-for="(itme,index) in Enclosure">
										<a :href="itme">附件{{index+1}}</a>
										<input :data-url="itme" value="删除" type="button" :data-index="index" @click="ondelEnclosure"/>
									</span>
								</td>
							</tr>
							<tr class="contentbox">
								<td>文章内容：</td>
								<td>
									<div>

									    <script id="editor" type="text/plain" style="width:900px;height:400px;">

									    </script>
									</div>

								</td>
							</tr>
							<tr>
								<td></td>
								<td><input type="button" value="提交" id="btn"/></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</section>

		<!--<script type="text/javascript">
			$("#btn").on('click',function () {
				console.log('aaa');
			})
		</script>-->


		<!--编写模板-->

		<script type="text/html" id="anchormolde">
			{{each list as v i}}
			<td>
				锚点id:<input type="text" name="title" class="anchor" value="{{v.anchor}}"/>
				锚点标题：<input type="text" name="title" class="anchortitle" value="{{v.anchortitle}}"/>
			</td>
			{{/each}}
		</script>
										<script src="js/vue.js"></script>
		 <script src="js/edit.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>